@use 'styles/neu' as *;

/* header */
.ctco-header {
  @include neu-surface();
  position: sticky;
  top: 0;
  z-index: 1000;
  padding-inline: 24px;


  /* logo */
  .logo-link {
    display: flex;
    align-items: center;

    .logo {
      height: 48px;
      width: auto;
    }
  }


  /* nav buttons */
  button[mat-button] {
    @include neu-surface();
    margin-left: 16px;
    font-weight: 600;

    &:hover,
    &.cdk-program-focused,
    &.active{
      @include neu-surface($inset: true);
    }
  }

}
